@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
:root{
    --font-popy: 'Poppins',sans-serif; ;
    --font-red-hat: "Red Hat Display", sans-serif;
    --color-primary:#313131;
}

*{
    margin:0;
    padding:0;
    font-family:var(--font-popy);
}
.container{
    background-color: #fff;
    width: 1440;
    height: 1024;
    display: flex;
}

.left{
    width: 484px;;
    height: 816px;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px;
}

.container .left .image-box{
    width:486px;
    height:816px;
    top: 104px;
    left: 104px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container .right{
    width:60%;
    padding:50px;
}

.container .right .logo{
    text-align: right;
    font-size:30px;
    font-weight:700;
    margin-bottom:35px;
}

.container .right .logo span{
    color:#313131;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -1%;
    font-size: 35px;
    font: bold;
    margin-left:8px;
    font-family: var(--font-red-hat);
}

.container .right h1{
    font-size:40px;
    font: semibold;
    font-weight: 600;
    color:#313131;
    margin-bottom:10px;
}

.container .right .subtitle{
    color:#313131;
    font-weight: 400;
    font-size: 16px;
    margin-bottom:35px;
}

.container .right .row{
    display:flex;
    gap:24px;
}

.container .right .row .input-box input{
    position:relative;
    width: 292px;
    height: 40px;
    border-radius: 4px;
    gap: 10px;
    border-width: 1px;
}

.container .right .row .input-box label{
    font-weight: 400;
    display:flex;
    left: 30px;
    background-color: #fff;
    color:#1C1B1F;
    font-size:14px;
}

.container .right .input-box-password label{
    font-weight: 400;
    display:flex;
    left: 30px;
    background-color: #fff;
    color:#1C1B1F;
    font-size:14px;
}

.container .right .input-box-password input{
    position:relative;
    width: 640px;
    height: 56px;
    border-radius: 4px;
    gap: 10px;
    border-width: 1px;
}

.container .right .input-box-confrim-password label{
    font-weight: 400;
    display:flex;
    left: 30px;
    background-color: #fff;
    color:#1C1B1F;
    font-size:14px;
}

.container .right .input-box-confrim-password input{
    position:relative;
    width: 640px;
    height: 56px;
    border-radius: 4px;
    gap: 10px;
    border-width: 1px;
}

.container .right .checkbox{
    padding-top: 25px;
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:25px;
    font-size:14px;
}

.container .right .checkbox a{
    color:#ff8682;
    text-decoration:none;
}

.container .right .btn{
    width:640px;
    height:48px;
    padding: 8px 16px;
    background:#515DEF;
    color:#fff; 
    border: none;
    border-radius:4px;
    font-size:14px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.container .right .login{
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    margin-top: 20px;
    color:var(--color-primary);
    padding-bottom: 40px;
}

.container .right .login a{
    color:#ff8682;
    text-decoration:none;
    font-weight:600;
}

.container .right .divider{
    padding: 0 267px;
    width: 105px;
    height: 21px;
    opacity: 50%;
    font-weight: 400;
    font-size: 14px;
    gap: 16px;
}